.about {
  position: relative;

  background: $background-section-dark url("../../img/about-mobile.png") no-repeat 22px 9px;

  color: $basic-white;

  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  z-index: 100;

  @media (min-width: $tabled-width) {
    background: url("../../img/about-tabled.png") no-repeat 384px 49px,
      $background-section-dark url("../../img/about-rectangle-tabled.png") no-repeat 40px 10px;

    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/about-desktop.png") no-repeat 749px -6px,
      $background-section-dark url("../../img/about-rectangle-desktop.png") no-repeat 60px -23px;

    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: url("../../img/about-tabled.png") no-repeat 384px 49px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) and (min-width: $tabled-width) {
    background: url("../../img/about-tabled@2x.png") no-repeat 749px -6px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) and (min-width: $desktop-width) {
    background: url("../../img/about-desktop@2x.png") no-repeat 749px -6px;
  }
}

.about__wrapper {
  padding-top: 38px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 20px;

  @media (min-width: $tabled-width) {
    padding-top: 35px;
    padding-bottom: 168px;
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
    padding-bottom: 241px;
    padding-left: 70px;
  }
}

.about__header {
  margin-bottom: 18px;

  @media (min-width: $tabled-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 57px;
  }
}

.about__text {
  width: 210px;
  margin-bottom: 20px;

  font-weight: 300;
  line-height: 1.4;

  @media (min-width: $tabled-width) {
    width: 300px;
    margin-bottom: 30px;

    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    width: 620px;
    margin-bottom: 40px;
  }


  &--bold {
    font-weight: 700;

    @media (min-width: $tabled-width) {
      margin-bottom: 55px;

      font-size: 21px;
    }

    @media (min-width: $desktop-width) {
      width: 410px;
      margin-bottom: 88px;
    }
  }
}

.about__button {
  position: absolute;

  display: none;

  @media (min-width: $tabled-width) {
    display: block;
    min-width: 275px;
    padding-top: 24px;
    padding-bottom: 29px;
    padding-left: 33px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 31px;

    width: 14px;
    height: 14px;

    background: url("../../img/icon-arrow-button.svg") no-repeat;

    transform: translateY(-50%);
  }
}
