.about {
  background-color: $background-section-dark;

  color: $basic-white;
}

.about__wrapper {
  padding-top: 35px;
  padding-bottom: 80px;
}

.about__text {
  width: 210px;

  font-weight: 300;

  &--bold {
    font-weight: 700;
  }
}
