.button {
  text-align: center;

  border: none;

  &--bold {
    font-weight: 700;
  }

  &--text-left {
    text-align: left;
  }

  &--yellow {
    background-color: $basic-yellow;
  }

  &--no-background {
    background: none;
  }

  &--only-border {
    background: none;
    border: 3px solid $border-button-map;
  }
}

