.calendar__month-wrapper {
  margin-bottom: 22px;
  padding-top: 8px;
  padding-bottom: 10px;

  font-size: $font-size-calendar-month;
  font-weight: 700;
  color: $basic-blue-light;
  text-align: center;

  border-top: 1px solid $border-calendar-month;
  border-bottom: 1px solid $border-calendar-month;

  @media (min-width: $tabled-width) {
    padding-top: 20px;
    padding-bottom: 23px;
    margin-bottom: 36px;

    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 14px;
  }
}

.calendar__table {
  border-collapse: collapse;
}

.calendar__th {
  padding-bottom: 8px;

  font-size: $font-size-calendar-th;
  font-weight: 400;

  &--red {
    color: $basic-red;
  }

  @media (min-width: $tabled-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 17px;
    padding-bottom: 18px;

    text-align: left;
  }
}

.calendar__td {
  width: 32px;
  height: 31px;

  color: fade-out($special-grey, 0.3);
  text-align: center;
  vertical-align: middle;

  border: 1px solid $border-calendar-month;

  &--check {
    font-weight: 500;
    color: $basic-white;

    background-color: $basic-blue-light;
  }

  &--access {
    font-weight: 500;
    color: $basic-blue-light;

    background-color: $background-calendar-td-access;
  }

  &--active {
    outline: 2px solid $basic-red;
  }

  @media (min-width: $tabled-width) {
    width: 85px;
    height: 69px;

    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    width: 144px;
    height: 70.9px;
    padding: 14px;

    font-weight: 400;
    text-align: left;
    vertical-align: top;
  }
}

.calendar__td-text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
  }
}

.calendar__td-span {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}
