.contacts__list {
  @include clear-list();

  font-weight: 700;

  @media (min-width: $tabled-width) {
    font-size: $font-size-contacts-tabled;
  }
}

//.contacts__item {
//  position: relative;
//
//  &--phone-bottom {
//    &::before {
//      content: " ";
//
//      position: absolute;
//      top: -2px;
//      left: -25px;
//
//      width: 40px;
//      height: 40px;
//      background-color: $special-orange;
//
//      border-radius: 50%;
//    }
//
//    @media (min-width: $desktop-width) {
//      &::before {
//        top: -25px;
//        left: -25px;
//
//        width: 50px;
//        height: 50px;
//      }
//    }
//  }
//
//  &--mail-bottom {
//    &::before {
//      content: " ";
//
//      position: absolute;
//      top: -2px;
//      left: 15px;
//
//      width: 40px;
//      height: 40px;
//      background-color: $special-yellow-dark;
//
//      border-radius: 50%;
//    }
//
//    @media (min-width: $desktop-width) {
//      &::before {
//        top: -23px;
//        left: 25px;
//
//        width: 50px;
//        height: 50px;
//      }
//    }
//  }
//
//  &--mail-menu {
//    &::before {
//      position: absolute;
//      top: 50%;
//      left: 0;
//
//      content: " ";
//
//      width: 45px;
//      height: 45px;
//      background-color: #121936;
//
//      border-radius: 50%;
//
//      transform: translateY(-50%);
//    }
//
//    @media (min-width: $desktop-width) {
//      &::before {
//        left: 8px;
//        top: 13px;
//
//        width: 50px;
//        height: 50px;
//
//        background-color: $special-yellow-dark;
//      }
//    }
//  }
//}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link {
  color: $text-header-menu;
}

.contacts__text {
  display: block;
}

.contacts--yellow .contacts__link {
  color: $basic-yellow;
}

.contacts--no-text .contacts__text {
  display: none;
}

/* Form send */

.contacts--form-send .contacts__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.contacts--form-send .contacts__item {
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-right: 89px;
    }
  }

  @media (min-width: $tabled-width) {
    padding-left: 34px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
  }
}

.contacts--form-send .contacts__text {
  display: flex;
}

.contacts--form-send .contacts__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: #121936;
  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    min-width: 90px;
    height: 90px;
  }
}

.contacts--form-send .contacts__icon {
  &--phone {
    width: 15.7px;
    height: 14.83px;

    @media (min-width: $tabled-width) {
      width: 23.72px;
      height: 22.41px;
    }

    @media (min-width: $desktop-width) {
      width: 31.4px;
      height: 29.65px;
    }
  }

  &--mail {
    width: 18px;
    height: 35px;

    @media (min-width: $tabled-width) {
      width: 27.62px;
      height: 18.89px;
    }

    @media (min-width: $desktop-width) {
      width: 36.56px;
      height: 25px;
    }
  }
}

.contacts--form-send .contacts__text-inner {
  display: flex;
  align-items: center;
  padding-left: 16px;

  @media (min-width: $tabled-width) {
    padding-left: 23px;
  }

  @media (min-width: $desktop-width) {
    min-width: 250px;
    padding-left: 31px;
  }
}

/* Menu top */

.contacts--menu-top .contacts__list {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.contacts--menu-top .contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
}

.contacts--menu-top .contacts__text {
  display: flex;
  align-items: center;
  padding-left: 0;

  @media (min-width: $tabled-width) {
    padding-left: 6px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.contacts--menu-top .contacts__text-inner {
  padding-left: 16px;

  @media (min-width: $tabled-width) {
    padding-top: 4px;
    padding-left: 24px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.contacts--menu-top .contacts__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: #121936;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 68px;
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }

  &--phone {
    @media (min-width: $desktop-width) {
      background-color: #ff8d30;
    }
  }

  &--mail {
    @media (min-width: $desktop-width) {
      background-color: #ffbd30;
    }
  }
}

.contacts--menu-top .contacts__icon {
  &--phone {
    @media (min-width: $tabled-width) {
      width: 23.72px;
      height: 22.41px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--mail {
    @media (min-width: $tabled-width) {
      width: 35.51px;
      height: 37.78px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--mail-border {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      width: 14.4px;
      height: 11.2px;
    }
  }

  &--call {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
      width: 15.92px;
      height: 16.2px;
    }
  }
}

/* Menu bottom */

.contacts--menu-bottom .contacts__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts--menu-bottom .contacts__item {
  margin: 0;
}

.contacts--menu-bottom .contacts__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #121936;

  border-radius: 50%;

  @media (min-width: $desktop-width) {
    width: 50px;
    height: 50px;
  }

  &--phone {
    background-color: #ff8d30;
  }

  &--mail {
    background-color: #ffbd30;
  }
}

.contacts--menu-bottom .contacts__text-inner {
  display: none;
}
