.country-list {
  @include clear-list();

  display: flex;
}

.country-list__item {
  position: relative;

  &--sri-lanka {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Sri-Lanka.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--thailand {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Thailand.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--seychelles {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Seychelles.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--belgium {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Belgium.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--czech{
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Czech.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--usa {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-USA.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--australia {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Australia.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--dominica {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Dominica.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--united-kingdom {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-United-Kingdom.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }

  &--germany {
    &::before {
      content: "";

      position: absolute;
      top: -2px;
      left: -2px;

      width: 26px;
      height: 18px;

      background: url("../../img/flag-Germany.png");

      @media (min-width: $tabled-width) {
        width: 35px;
        height: 24px;
        background-size: 35px 24px;
      }
    }
  }
}


/* Catalog.html */

.country-list--catalog {
  flex-direction: column;

  font-size: $font-size-country-list-catalog;
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    flex-direction: row;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.country-list--catalog .country-list__item {
  padding-left: 38px;

  @media (min-width: $tabled-width) {
    padding-left: 43px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 51px;
  }

  &:not(:last-child) {
    margin-bottom: 11px;

    @media (min-width: $tabled-width) {
      margin-right: 31px;
      margin-bottom: 0;
    }

    @media (min-width: $desktop-width) {
      margin-right: 0;
      margin-bottom: 14px;
    }
  }
}
