.directions {
  position: relative;

  background-color: $background-section-directions;

  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  z-index: 99;

  @media (min-width: $tabled-width) {
    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }
}

.directions__wrapper {
  padding-top: 50px;
  padding-bottom: 30px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 700px;
  }
}

.directions__header-section {
  margin-bottom: 60px;

  @media (min-width: $desktop-width) {
    order: 2;
    width: 600px;
    margin-bottom: 80px;

    align-self: center;
  }
}

.directions__list-wrapper {
  @media (min-width: $desktop-width) {
    order: 1;

    align-self: center;
  }
}

.directions__button {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  text-align: left;

  border-radius: 10px;

  @media (min-width: $desktop-width) {
    order: 3;

    width: 275px;

    font-size: 24px;
  }
}

.directions__list {
  @include clear-list();

  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    width: 560px;
  }
}

.directions__item:not(:last-child) {
  margin-bottom: 30px;
}

.directions__text {
  display: flex;
  justify-content: space-between;
  padding: 15px;

  background-color: $basic-white;
  border-radius: 10px;
}

.directions__country {
  margin: 0;

  font-size: $font-size-country-name-mobile;
  font-weight: 700;
}

.directions__tagline {
  margin: 0;

  font-weight: 500;
  color: $text-grey;

  opacity: 0.4;
}

.directions__count {
  color: $text-grey;

  opacity: 0.4;
}

.direction__break {
  display: none;

  @media (min-width: $desktop-width) {
    grid-area: br;
  }
}
