.filter-traveler {
  padding-top: 40px;

  background-color: $background-section-filter-traveler;
}

.filter-traveler__wrapper {
  padding: 25px;

  color: $basic-blue-light;

  background-color: $basic-yellow;
  border-radius: 20px;
}

.filter-traveler__header {
  margin-bottom: 15px;

  @media (min-width: $tabled-width) {
    padding-top: 15px;
    padding-bottom: 30px;

    font-size: 30px;

    border-bottom: 1px solid #f3c72b;
  }
}
