.form-send {
  position: relative;

  color: $basic-white;

  background-color: $background-section-form-send;

  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  z-index: 96;

  @media (min-width: $tabled-width) {
    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }
}

.form-send__wrapper {
  padding-top: 97px;
  padding-bottom: 42px;

  @media (min-width: $tabled-width) {
    padding-top: 120px;
    padding-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 143px;
    padding-bottom: 96px;
  }
}

.form-send__header {
  margin-bottom: 19px;

  @media (min-width: $tabled-width) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.form-send__text {
  margin: 0;

  font-weight: 300;
  text-align: center;
  line-height: 22px;

  @media (min-width: $tabled-width) {
    font-size: 28px;
  }

  &--before-form {
    margin-bottom: 30px;
    padding: 0 35px;
    padding-left: 27px;

    text-align: center;

    @media (min-width: $tabled-width) {
      margin-bottom: 67px;
      padding-left: 21px;

      line-height: 32px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 62px;
      padding-left: 37px;

      line-height: 31px;
    }
  }

  &--after-form {
    margin-bottom: 32px;

    @media (min-width: $tabled-width) {
      margin-bottom: 66px;
      padding-left: 8px;

      letter-spacing: 0.01em;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 80px;
      padding-left: 0;
    }
  }
}

.form-send__br {
  &--mobile {
    display: block;

    @media (min-width: $tabled-width) {
      display: none;
    }
  }

  &--tabled {
    @media (min-width: $tabled-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      display: block;
    }
  }
}

.form-send__form-email {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;

  @media (min-width: $tabled-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.form-send__contacts {
  width: 100%;

  display: flex;
  justify-content: center;

  @media (min-width: $tabled-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
}

.form-send__contacts-list {
  @media (min-width: $desktop-width) {
    min-width: 645px;
  }
}
