.form-send {
  color: $basic-white;

  background-color: $background-section-form-send;

  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  @media (min-width: $tabled-width) {
    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }
}

.form-send__wrapper {
  padding-top: 80px;
  padding-bottom: 40px;
}

.form-send__header {
  margin-bottom: 20px;
}

.form-send__text {
  margin: 0;

  font-weight: 300;
  text-align: center;

  &--before-form {
    margin-bottom: 30px;
  }

  &--after-form {
    margin-bottom: 30px;
  }
}

.form-send__form-email {
  margin-bottom: 30px;
}

.form-send__contacts {
  width: 100%;

  display: flex;
  justify-content: center;
}
