.form {
  &--filter-traveler {
    margin-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;

    @media (min-width: $tabled-width) {
      margin-bottom: 74px;
      padding-left: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 45px;
    }
  }
}

.form__list {
  @include clear-list();
}

.form__item {
  padding-top: 11px;
  padding-bottom: 11px;

  border-top: 1px solid $border-item-filter-traveler;

  &:not(:last-child) {
    @media (min-width: $tabled-width) {
      margin-bottom: 27px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 19px;
    }
  }

  &:nth-child(4) {
    @media (min-width: $tabled-width) {
      margin-bottom: 14px;
    }
  }

  @media (min-width: $tabled-width) {
    display: flex;
    align-items: center;
    padding: 0;

    border: none;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form__span {
  display: block;

  font-weight: 700;
  text-transform: uppercase;

  cursor: pointer;

  @media (min-width: $tabled-width) {
    min-width: 120px;
    margin-right: 5px;

    font-size: 20px;
    font-weight: 500;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.form__list-inner {
  @include clear-list();

  display: none;
  margin-top: 15px;
  margin-bottom: 10px;

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    display: none;
    margin-top: 25px;
    margin-bottom: 12px;
  }

  &--open {
    display: block;

    @media (min-width: $tabled-width) {
      display: flex;
    }

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  &--range {
    margin-top: 10px;

    @media (min-width: $tabled-width) {
      margin: 0;
    }
  }
}

.form__item-inner {
  font-size: 15px;

  &:not(:last-child) {
    margin-bottom: 13px;

    @media (min-width: $tabled-width) {
      margin: 0;
      margin-right: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $tabled-width) {
    width: 150px;

    font-size: 20px;
  }
}

.form__range-wrapper {
  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex: 1 1 auto;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 17px;
  }
}

.form__range {
  position: relative;

  display: flex;
  margin-bottom: 24px;
  padding-right: 4px;

  @media (min-width: $tabled-width) {
    width: 148px;
    margin: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    margin-bottom: 37px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 5px;
    height: 14px;

    background-color: $basic-white;

    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    width: 20px;
    height: 1px;

    background-color: #cbced9;

    transform: translate(-50%, -50%);
  }
}

.form__input--range {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 5px;

  text-align: center;

  border: 1px solid $border-input;

  @media (min-width: $tabled-width) {
    height: 46px;
    padding: 0;

    font-size: 20px;
    font-weight: 500;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 4px;
  }

  &:last-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 0;
  }
}

.form__range-line {
  position: relative;

  width: 100%;
  height: 2px;

  background: linear-gradient(90deg, fade-out($basic-blue, 0.8) 71px, $basic-blue 71px);

  &::before {
    content: "";

    position: absolute;
    top: -4px;
    left: 67px;

    width: 10px;
    height: 10px;

    background-color: $basic-blue;

    border-radius: 50%;

    @media (min-width: $tabled-width) {
      top: -6px;
      left: 102px;

      width: 13.19px;
      height: 13px;
    }

    @media (min-width: $desktop-width) {
      left: 59px;
    }

    &:hover {
      transform: scale(1.5, 1.5);
    }
  }

  &::after {
    content: "";

    position: absolute;
    top: -4px;
    right: 0;

    width: 10px;
    height: 10px;

    background-color: $basic-blue;

    border-radius: 50%;

    @media (min-width: $tabled-width) {
      top: -6px;
      width: 13.19px;
      height: 13px;
    }
  }

  @media (min-width: $tabled-width) {
    width: 283px;

    background: linear-gradient(90deg, fade-out($basic-blue, 0.8) 107px, $basic-blue 107px);
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    background: linear-gradient(90deg, fade-out($basic-blue, 0.8) 64px, $basic-blue 64px);
  }
}

.form__checkbox {
  display: none;
}

.form__checkbox:checked + .form__checkbox-label::after {
  display: block;
}

.form__checkbox-label {
  position: relative;

  padding-left: 27px;

  @media (min-width: $tabled-width) {
    padding-left: 36px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    background-color: $basic-white;

    border-radius: 4px;

    @media (min-width: $tabled-width) {
      width: 24px;
      height: 24px;
    }
  }

  &::after {
    content: "";

    display: none;

    position: absolute;
    top: 0;
    left: 0;

    width: 18px;
    height: 18px;

    border-radius: 4px;

    background: $basic-white url("../../img/icon-check.svg") no-repeat center center;

    @media (min-width: $tabled-width) {
      background: $basic-white url("../../img/icon-check.svg") no-repeat 8px 5px;
      background-size: 11px 11.27px;
    }
  }
}

.form__checkbox-span {
  padding-left: 27px;
}

.form__transport-list {
  @media (min-width: $tabled-width) {
    margin-left: -3px;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    margin-bottom: 22px;
  }
}

/* form.html */

.form--add-plan .form__fieldset {
  margin: 0;
  padding-top: 21px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 24px;

  background-color: $basic-white;
  border: none;
  border-radius: 10px;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: $tabled-width) {
      margin-bottom: 40px;
    }
  }

  @media (min-width: $tabled-width) {
    padding-top: 45px;
    padding-right: 40px;
    padding-bottom: 44px;
    padding-left: 40px;

    border-radius: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-right: 160px;
    padding-bottom: 94px;
    padding-left: 160px;

    border-radius: 60px;

    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
}

.form--add-plan .form__legend {
  margin-bottom: 16px;

  font-size: $font-size-legend-form;
  font-weight: 700;
  line-height: 21px;

  color: $basic-blue-light;

  @media (min-width: $tabled-width) {
    margin-bottom: 36px;

    font-size: 36px;
    line-height: 36px;
  }
}

.form--add-plan .form__header-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    border-bottom: 1px solid #d6d9e6;
  }

  &--country {
    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--info {
    @media (min-width: $desktop-width) {
      margin-bottom: 58px;
      padding-bottom: 55px;
    }
  }
}

.form--add-plan .form__text {
  margin-top: 0;
  margin-bottom: 19px;

  color: $special-grey;
  line-height: 22px;

  @media (min-width: $tabled-width) {
    margin-bottom: 22px;
    padding-right: 10px;
    padding-bottom: 39px;

    font-size: 20px;
    line-height: 24px;

    border-bottom: 1px solid #e1e3e9;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 32px;

    border-bottom: none;
  }

  &--country {
    margin-bottom: 21px;

    @media (min-width: $tabled-width) {
      margin-bottom: 0;
      padding-bottom: 33px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
      padding-bottom: 0;
    }
  }

  &--info {
    margin-bottom: 10px;

    @media (min-width: $tabled-width) {
      padding-bottom: 34px;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      width: 544px;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.form--add-plan .form__steps-list {
  @include clear-list();

  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    padding-top: 10px;
    padding-right: 46px;

    letter-spacing: 2px;
  }
}

.form--add-plan .form__steps-item {
  color: rgba($basic-black, 0.6);

  &:not(:last-child) {
    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    text-transform: uppercase;
  }

  &--active {
    color: rgba($basic-black, 1);
  }
}

.form--add-plan .form__inputs-wrapper {
  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }
}

.form--add-plan .form__input-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 18px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &--may-child {
    margin-top: 26px;
    margin-bottom: 27px;
    padding-left: 40px;

    font-size: 15px;
    font-weight: 500;
    color: $basic-blue-light;

    @media (min-width: $tabled-width) {
      order: 2;

      margin-top: 13px;
      margin-bottom: 29px;
      padding-left: 56px;

      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &--find-people {
    @media (min-width: $tabled-width) {
      order: 1;
    }

    @media (min-width: $desktop-width) {
      border: none;
    }
  }

  &--duration {
    @media (min-width: $tabled-width) {
      order: 3;

      padding-top: 25px;

      border-top: 1px solid #e1e3e9;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      padding-top: 14px;

      border: none;
    }
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
  }
}

.form--add-plan .form__input {
  position: relative;

  width: 100%;
  margin-top: 8px;
  padding-top: 13px;
  padding-bottom: 10px;

  font-weight: 500;
  color: $basic-blue-light;
  text-align: center;

  border: 1px solid $border-input;
  border-radius: 4px;

  @media (min-width: $tabled-width) {
    margin-top: 24px;
    padding-top: 22px;
    padding-right: 11px;
    padding-bottom: 23px;

    font-size: 20px;

    &--country {
      width: 370px;
    }
  }

  @media (min-width: $desktop-width) {
    order: 2;

    width: 180px;
    height: 70px;
    margin-right: 36px;
    margin-top: 0;
    padding: 0;

    &--country {
      width: 730px;
    }
  }

  &:hover {
    border: 1px solid #959bb2;
  }

  &:focus {
    border: 1px solid #161c35;
  }

  &--country {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    height: 42px;

    font-size: $font-size-input-change-country;
    font-weight: 500;
    letter-spacing: 1.2px;
    text-align: left;
    text-transform: uppercase;

    @media (min-width: $tabled-width) {
      width: 369px;
      height: 70px;
      padding-left: 27px;
      letter-spacing: 2px;

      font-size: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 730px;
      padding-left: 24px;
    }
  }

  &--change-country {
    padding-left: 16px;

    font-weight: 500;
    color: $basic-white;
    letter-spacing: 0.4px;
    text-align: left;

    background-color: $basic-blue-light;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    @media (min-width: $tabled-width) {
      padding-left: 25px;

      letter-spacing: 2px;
    }
  }

  &--find-people {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 14px;
      height: 1px;

      background: url("../../img/icon-minus.svg");
      background-size: 14px 1px;

      transform: translateY(-50%);
    }
  }
}

.form--add-plan .form__label-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  @media (min-width: $tabled-width) {
    margin-bottom: 20px;

    font-size: 20px;
    letter-spacing: 1px;
  }

  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.form--add-plan .form__label {
  font-weight: 500;
  color: $basic-blue-light;
  text-transform: uppercase;
  letter-spacing: 1.5px;

  @media (min-width: $tabled-width) {
    font-size: 20px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    order: 1;

    width: 220px;

    font-size: 20px;
    letter-spacing: 0;
  }
}

.form--add-plan .form__label-text {
  padding-right: 3px;

  font-weight: 500;
  color: $basic-blue-light;
  text-transform: uppercase;

  opacity: 0.3;

  @media (min-width: $tabled-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 3;

    font-size: 20px;

    opacity: 1;
  }
}

.form--add-plan .form__label-checkbox {
  display: block;
  font-size: 15px;
  letter-spacing: -0.4px;

  @media (min-width: $tabled-width) {
    font-size: 20px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.form--add-plan .form__calendar {
  margin-bottom: 23px;

  @media (min-width: $tabled-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.form--add-plan .form__button-wrapper {
  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &--first-button {
    @media (min-width: $tabled-width) {
      width: auto;
      margin-left: -2px;
    }
  }

  &--country {
    margin-top: 26px;

    @media (min-width: $tabled-width) {
      margin-top: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 60px;
    }
  }

  &--info {
    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }
}

.form--add-plan .form__button {
  position: relative;

  width: 100%;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 9px;

  font-size: $font-size-button-add-plan;
  font-weight: 700;
  color: $basic-blue-light;
  text-transform: uppercase;

  border-radius: 20px;

  @media (min-width: $tabled-width) {
    width: 50%;
    padding-top: 25px;
    padding-bottom: 28px;
    padding-left: 35px;

    font-size: 24px;
    text-transform: none;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 286px;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 36px;

    font-weight: 700;
    text-align: left;
    text-transform: none;
  }

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    background-color: #ffbd30;

    color: rgba(#1d2e5b, 0.3);
  }

  &::before {
    @media (min-width: $tabled-width) {
      content: "";

      position: absolute;
      top: 50%;
      right: 35px;

      width: 14px;
      height: 14px;

      background: url("../../img/icon-arrow-button.svg");
      background-size: 14px 14px;

      transform: translateY(-50%);
    }
  }

  &--first-button {
    @media (min-width: $tabled-width) {
      width: 284px;
    }

    @media (min-width: $desktop-width) {
      width: 286px;
    }
  }

  &--no-background {
    margin-bottom: 0;

    @media (min-width: $tabled-width) {
      padding-top: 23px;
      padding-right: 0;
      text-align: right;
    }

    @media (min-width: $desktop-width) {
      padding-right: 0;
      text-align: right;
    }

    &:hover {
      color: rgba(#1d2e5b, 0.6);

      background: none;
    }

    &:active {
      color: rgba(#1d2e5b, 0.3);
    }

    &::before {
      @media (min-width: $tabled-width) {
        content: "";

        position: absolute;
        top: 34%;
        left: 100px;

        width: 14px;
        height: 14px;

        background: url("../../img/icon-arrow-button.svg") no-repeat;

        transform: rotate(-180deg);
      }
    }
  }

  &--textarea {
    margin-bottom: 7px;

    @media (min-width: $tabled-width) {
      width: 307px;
    }

    @media (min-width: $desktop-width) {
      width: 287px;
    }
  }
}

.form--add-plan .form__countries-wrapper {
  position: relative;

  @media (min-width: $tabled-width) {
    padding-top: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 4px;
    padding-top: 61px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    right: 0;

    display: none;
    width: 1px;
    height: 100%;

    background-color: #e1e3e9;

    z-index: 1;

    @media (min-width: $tabled-width) {
      position: absolute;
      top: 0;
      right: 139px;

      display: block;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 0;
      right: 225px;

      display: block;
    }
  }
}

.form--add-plan .form__country-wrapper {
  &:not(:last-child) {
    margin-bottom: 22px;

    @media (min-width: $tabled-width) {
      margin-bottom: 15px;
    }
  }
}

.form--add-plan .form__country-inner {
  display: flex;

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: space-between;
  }
}

.form--add-plan .form__textarea {
  width: 100%;
  height: 220px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 14px;

  color: $special-grey;
  line-height: 22px;

  border: 1px solid $border-textarea;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 11px;

    @media (min-width: $tabled-width) {
      margin-bottom: 22px;
    }
  }

  @media (min-width: $tabled-width) {
    width: 500px;
    height: 142px;
    padding-top: 16px;
    padding-right: 31px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-left: 3px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 730px;
    height: 142px;
    margin-left: 0;
    padding-top: 21px;
    padding-right: 19px;
    padding-left: 25px;
  }

  &:hover {
    border: 1px solid #959bb2;
  }

  &:active {
    border: 1px solid #161c35;
  }
}

.form--add-plan .form__textarea-wrapper {
  margin-bottom: 18px;

  @media (min-width: $tabled-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.form--add-plan .form__text-textarea {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;

  @media (min-width: $tabled-width) {
    margin-bottom: 20px;
  }

  &:nth-child(1n + 2) {
    &::before {
      content: "";

      position: absolute;

      display: none;
      width: 2px;
      height: 248px;

      background-color: $basic-blue-light;

      @media (min-width: $tabled-width) {
        position: absolute;
        top: -217px;
        right: 6px;

        display: block;
      }

      @media (min-width: $desktop-width) {
        right: 221px;
      }
    }
  }
}

.form--add-plan .form__text-country {
  margin: 0;
  padding-left: 11px;

  font-size: $font-size-text-country-add-plan;
  font-weight: 500;
  color: $basic-blue-light;

  @media (min-width: $tabled-width) {
    margin-bottom: 0;
    padding-left: 0;

    font-size: 30px;
    font-weight: 700;
  }
}

.form--add-plan .form__country-label {
  flex: 1 1 auto;

  @media (min-width: $tabled-width) {
    flex: 1 1 369px;
  }
}

.form--add-plan .form__country-flag {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 53px;
  height: 42px;

  border: 1px solid #cbced9;

  border-radius: 4px;

  @media (min-width: $tabled-width) {
    flex: 1 1 auto;
    width: 120px;
    height: 70px;
    padding-left: 30px;
    justify-content: space-between;

    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-left: 49px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: -5.5px;

    width: 8px;
    height: 8px;

    background-color: $basic-blue-light;

    border-radius: 50%;
    transform: translateY(-50%);

    z-index: 95;

    @media (min-width: $tabled-width) {
      top: 47%;
      left: -3px;

      width: 14px;
      height: 14px;
    }

    @media (min-width: $desktop-width) {
      top: 48%;
      left: 2px;
    }
  }

  &--no-border {
    justify-content: flex-end;

    border: none;

    @media (min-width: $tabled-width) {
      padding-right: 32px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 11px;
      padding-right: 112px;
    }

    &::before {
      left: -171px;

      width: 6px;
      height: 6px;

      @media (min-width: $tabled-width) {
        top: 38px;
        right: 0;
        left: auto;

        width: 14px;
        height: 14px;
      }

      @media (min-width: $desktop-width) {
        right: 216px;
      }
    }
  }
}

.form--add-plan .form__country-img {
  @media (min-width: $tabled-width) {
    width: 70px;
    height: 47px;
  }
}

.form--add-plan .form__country-close {
  position: absolute;
  top: -11.5px;
  right: -11.5px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 21px;
  height: 21px;

  background-color: #edeff6;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    position: static;
    top: 0;
    right: 0;

    margin-left: auto;

    background: none;
  }
}

.form--add-plan .form__close-icon {
  @media (min-width: $tabled-width) {
    width: 20px;
    height: 20px;
  }
}

.form--add-plan .form__header-br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form--add-plan .form__plan-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.form--add-plan .form__plan-country {
  display: none;

  @media (min-width: $tabled-width) {
    display: block;
  }
}

/* Active and no change country input */

.form__country-wrapper--active .form__country-flag {
  display: none;

  @media (min-width: $tabled-width) {
    display: block;
  }

  &::before {
    @media (min-width: $tabled-width) {
      background-color: $basic-white;

      border: 1px solid #cbced9;
    }
  }
}

.form__country-wrapper--no-change .form__country-flag {
  @media (min-width: $tabled-width) {
    display: block;
  }

  &::before {
    @media (min-width: $tabled-width) {
      background-color: #edeff6;

      border: 1px solid #cbced9;
    }
  }
}

/* Pixel Perfect for form.html */

.form--add-plan .form__fieldset:nth-child(1) {
  @media (min-width: $desktop-width) {
    padding-top: 96px;
  }
}

.form--add-plan .form__fieldset:nth-child(2) {
  @media (min-width: $tabled-width) {
    margin-bottom: 52px;
    padding-left: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    padding-top: 95px;
    padding-bottom: 102px;
    padding-left: 160px;
  }
}

.form--add-plan .form__fieldset:nth-child(3) {
  padding-bottom: 6px;

  @media (min-width: $tabled-width) {
    padding-top: 47px;
    padding-left: 42px;
    padding-bottom: 46px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 98px;
    padding-right: 163px;
    padding-left: 159px;
  }
}
