.header {
  margin: 0;

  font-weight: bold;

  &--2 {
    font-size: $font-size-header-index-mobile;

    @media (min-width: $tabled-width) {
      font-size: $font-size-header-index-tabled;
    }
  }

  &--filter-traveler {
    font-size: 22px;
  }

  &--orange {
    color: $text-header-orange;
  }

  &--center {
    text-align: center;
  }
}
