.header {
  margin: 0;

  font-weight: bold;

  &--2 {
    font-size: 24px;
  }

  &--filter-traveler {
    font-size: 22px;
  }

  &--orange {
    color: $text-header-orange;
  }

  &--center {
    text-align: center;
  }
}
