.header-section {
  padding-left: 30px;
  padding-right: 40px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.header-section__header {
  margin-bottom: 20px;

  @media (min-width: $tabled-width) {
    margin-bottom: 40px;
  }
}

.header-section__text {
  margin: 0;

  font-weight: 300;
  line-height: 22px;

  &--bold {
    margin-top: 25px;

    font-weight: 700;
  }

  @media (min-width: $tabled-width) {
    width: 380px;

    line-height: 33px;
    font-size: 28px;
  }
}
