.map__wrapper-color {
  background-color: $basic-yellow;
}

.map__wrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  color: $basic-blue-light;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.map__address {
  margin-bottom: 45px;

  font-style: normal;
  font-size: $font-size-text-address-map-mobile;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    font-size: $font-size-address-tabled;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 25px;
  }
}

.map__button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: $font-size-text-button-map;
  font-weight: 700;

  border-radius: 10px;

  @media (min-width: $tabled-width) {
    font-size: $font-size-button-address-tabled;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }
}
