.map__wrapper-color {
  position: relative;

  z-index: 95;

  background-color: $basic-yellow;

  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  @media (min-width: $tabled-width) {
    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }
}

.map__wrapper {
  padding-top: 56px;
  padding-bottom: 35px;

  color: $basic-blue-light;

  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 98px;
    padding-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 109px;
    padding-right: 74px;
    padding-bottom: 59px;
    padding-left: 187px;
  }
}

.map__address-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: $tabled-width) {
    align-self: flex-start;
    margin-bottom: 44px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.map__address {
  padding-left: 16px;

  font-style: normal;
  font-size: $font-size-text-address-map-mobile;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    font-size: $font-size-address-tabled;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
  }
}

.map__address-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: #121936;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 68px;
    height: 68px;
    margin-right: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 90px;
    height: 90px;
    margin-right: 34px;
  }
}

.map__icon {
  @media (min-width: $tabled-width) {
    width: 23.8px;
    height: 31.73px;
  }
}

.map__button {
  position: relative;

  width: 100%;
  min-height: 62px;
  padding-left: 19px;

  font-size: $font-size-text-button-map;
  font-weight: 700;

  border-radius: 10px;

  @media (min-width: $tabled-width) {
    width: 618px;
    min-height: 80px;
    padding-left: 34px;

    font-size: $font-size-button-address-tabled;

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 325px;
  }

  &:hover {
    color: $basic-white;

    background-color: #192144;
  }

  &:active {
    color: rgba($basic-white, 0.3);


    background-color: #192144;
  }

  &::before {
    content: "";

    position: absolute;
    top: 53%;
    right: 17px;

    width: 14px;
    height: 14px;

    background: url("../../img/icon-arrow-button.svg") no-repeat;

    transform: translateY(-50%);

    @media (min-width: $tabled-width) {
      right: 30px;
    }

    @media (min-width: $desktop-width) {
      right: 31px;
    }
  }
}

.map__br {
  @media (min-width: $tabled-width) {
    display: none;
  }
}

.map__geo {
  position: relative;


  width: 100%;
  height: 424px;
  margin-top: -67px;
  padding-bottom: 73px;

  background: url("../../img/map.png") no-repeat;
  background-size: 100% 424px;
  background-position: 0 15px;

  z-index: 94;

  @media (min-width: $tabled-width) {
    width: 100%;
    height: 581px;
    margin-top: -20px;

    background: url("../../img/map-tabled.png") no-repeat;
    background-size: 100% 581px;
    background-position: 0 -25px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    height: 581px;
    margin-top: -93px;

    background: url("../../img/map-desktop.png") no-repeat;
    background-size: 100% 581px;
    background-position: 0 -25px;
  }
}

.map__img {
  @media (min-width: $tabled-width) {
    width: 100%;
    height: 581px;
  }
}
