.page-footer {
  background-color: $basic-white;
}

.page-footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__authors {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $border-block-author;
}
