.page-header {
  color: $basic-white;

  background: url("../../img/traveller-illustration-mobile.png") no-repeat 80px 222px,
    $basic-blue url("../../img/globe-back-mobile.png") no-repeat;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.page-header__menu-wrapper {
  position: relative;
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.page-header__menu-inner {
  position: relative;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;

  &--menu-open {
    background-color: $basic-white;
  }

  &--common {
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    flex-wrap: nowrap;
  }
}

.page-header__logo {
  order: 1;

  @media (min-width: $tabled-width) {
    order: 1;

    width: 33.33%;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.page-header__toggle-button {
  order: 2;

  position: relative;

  width: 25px;
  height: 14px;

  @media (min-width: $tabled-width) {
    order: 2;

    width: 33.33%;
  }

  @media (min-width: $desktop-width) {
    order: 2;

    display: none;
  }
}

.page-header__menu-button {
  display: block;

  width: 25px;
  height: 3px;
  padding: 0;
  margin: 0;

  background: none;
  border: none;

  &::before {
    content: " ";

    position: absolute;
    top: 2px;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $basic-white;

    border-radius: 1.5px;
  }

  &::after {
    content: " ";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 25px;
    height: 3px;

    background-color: $basic-white;

    border-radius: 1.5px;
  }
}

.page-header__menu-block {
  order: 3;

  display: none;
  padding-top: 70px;
  padding-left: 40px;

  @media (min-width: $tabled-width) {
    order: 4;

    width: 100%;
    padding: 0;
    padding-left: 50px;
    margin-bottom: 140px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0;
    padding: 0;

    order: 3;
  }
}

.page-header__contacts-button {
  order: 4;

  display: none;
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: $tabled-width) {
    order: 3;

    display: block;
    width: 33.33%;
  }

  @media (min-width: $desktop-width) {
    order: 5;

    display: block;
    margin: 0;
  }
}

.page-header__button-auth {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: $font-size-button-menu;
  font-weight: 700;
  color: $basic-blue;
  text-transform: uppercase;

  border-radius: 25px;

  &--main {
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  @media (min-width: $tabled-width) {
    font-size: 20px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-weight: 700;
  }
}

.page-header__contacts {
  order: 5;

  display: none;

  @media (min-width: $tabled-width) {
    order: 5;

    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 4;

    display: block;
  }
}

.page-header__socials {
  order: 6;

  display: none;

  @media (min-width: $tabled-width) {
    order: 6;

    padding-left: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 6;

    display: none;
  }
}

.page-header__header {
  order: 1;

  margin-bottom: 266px;

  font-size: $font-size-h1-mobile;
  font-weight: bold;
  text-align: center;

  @media (min-width: $tabled-width) {
    font-size: $font-size-h1-tabled;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-top: 50px;
    padding-left: 60px;

    text-align: left;
  }
}

.page-header__button {
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;

  font-size: $font-size-button-text-header-auth;
  font-weight: 700;
  text-transform: uppercase;

  border-radius: 25px;
}

.page-header__quote {
  order: 3;

  background-color: $basic-blue;

  @media (min-width: $desktop-width) {
    order: 2;

    width: 50%;
    padding-top: 70px;
  }
}

.page-header__steps {
  order: 4;

  @media (min-width: $desktop-width) {
    order: 3;

    padding-top: 50px;
    padding-bottom: 100px;
  }
}

/* Open menu */

.page-header--open {
  position: relative;
}

.page-header--open .page-header__menu-wrapper--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  background-color: $basic-white;

  color: $text-header-menu;

  z-index: 100;
}

.page-header--open .page-header__menu-inner--main {
  padding-top: 23px;
}

.page-header--open .page-header__menu-button {
  display: block;
  width: 25px;
  height: 25px;

  &::before {
    content: " ";

    position: absolute;
    top: 10px;

    background-color: $basic-grey;

    transform: rotate(45deg);
  }

  &::after {
    content: " ";

    position: absolute;
    top: 10px;

    background-color: $basic-grey;

    transform: rotate(-45deg);
  }
}

.page-header--open .page-header__menu-block--main {
  display: block;
}

.page-header--open .page-header__contacts-button--main {
  display: block;

  margin-bottom: 65px;
}

.page-header--open .page-header__socials--main {
  display: block;
}

.page-header--open .page-header__contacts {
  display: block;

  width: 100%;
}

/* Bottom menu in header */

.page-header__menu-wrapper--bottom-menu {
  order: 2;

  margin-bottom: 0;

  @media (min-width: $tabled-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    order: 4;

    display: flex;
    align-self: stretch;

    background-color: $basic-white;
  }
}

.page-header__menu-wrapper--bottom-menu .page-header__menu__inner {
  position: relative;
}

.page-header__menu-wrapper--bottom-menu .page-header__menu-inner {
  display: flex;

  padding: 0;
}

.page-header__menu-wrapper--bottom-menu .page-header__logo {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.page-header__menu-wrapper--bottom-menu .page-header__contacts-button {
  order: 5;

  position: absolute;
  bottom: -19px;
  right: 25px;

  display: block;

  width: 190px;
  height: 40px;
  margin-bottom: 0;
}

.page-header__menu-wrapper--bottom-menu .page-header__contacts {
  order: 4;

  position: absolute;
  bottom: -19px;
  left: 25px;

  display: block;

  color: $basic-white;
}

/* catalog.html */

.page-header__wrapper--inner-page {
  padding-bottom: 30px;

  @media (min-width: $tabled-width) {
    flex-flow: row-reverse;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
  }
}

.page-header__wrapper--inner-page .page-header__header {
  font-size: $font-size-header-inner-page-mobile;
  text-align: left;

  @media (min-width: $tabled-width) {
    font-size: $font-size-header-inner-page-tabled;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.page-header__wrapper--inner-page .page-header__return-button {
  order: 2;

  display: none;

  @media (min-width: $tabled-width) {
    display: block;

    font-size: $font-size-return-button-catalog-tabled;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

/* No js settings */

.page-header--no-js .page-header__menu-wrapper:first-child {
  background-color: $basic-white;

  color: $text-header-menu;
}

.page-header--no-js .page-header__menu-block--main {
  display: block;
}

.page-header--no-js .page-header__contacts-button--main {
  display: block;
}

.page-header--no-js .page-header__contacts--main {
  display: block;
}

.page-header--no-js .page-header__socials--main {
  display: block;
}
