.page-footer {
  background-color: $basic-white;

  border-top-right-radius: $border-radius-section-mobile;
  border-top-left-radius: $border-radius-section-mobile;

  @media (min-width: $tabled-width) {
    border-top-right-radius: $border-radius-section-tabled;
    border-top-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    border-top-right-radius: $border-radius-section-desktop;
    border-top-left-radius: $border-radius-section-desktop;
  }
}

.page-footer__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__authors {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  border-top: 1px solid $border-block-author;
}
