.page-content {
  &--catalog {
    position: relative;
  }
}

.page-content__wrapper {
  position: relative;

  background-color: $background-section-light;

  z-index: 98;

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.page-content--catalog .page-content__wrapper {
  position: relative;

  z-index: 95;
}

.page-content__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.page-content__filter-traveler {
  @media (min-width: $tabled-width) {
    padding-top: 92px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    padding-top: 0;
  }
}

.page-content__travelers {
  @media (min-width: $desktop-width) {
    width: 950px;
  }
}

.page-content__section-top {
  margin-top: -25px;

  @media (min-width: $tabled-width) {
    margin-top: -50px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -40px;
  }
}

/* catalog.html */
