.quote__wrapper {
  padding-left: 30px;

  @media (min-width: $tabled-width) {
    margin-bottom: 80px;
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 315px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    padding-right: 60px;
  }
}

.quote__text {
  display: block;
  margin-bottom: 20px;

  font-weight: 300;
}

.quote__author {
  display: block;

  font-weight: 700;

  @media (min-width: $tabled-width) {
    font-size: $font-size-author-tabled;
  }
}
