.quote__wrapper {
  width: 200px;
  padding-top: 50px;
  padding-left: 30px;
}

.quote__text {
  display: block;
  margin-bottom: 20px;

  font-weight: 300;
}

.quote__author {
  display: block;

  font-weight: 700;
}
