.socials__list {
  @include clear-list();

  display: flex;
  align-items: center;
  width: 100%;
}

/* Menu top */

.socials--menu-top .socials__item {
  &:not(:last-child) {
    margin-right: 36px;
  }

  &:nth-child(2) {
    margin-top: -1.5px;
  }
}
