.socials__list {
  @include clear-list();

  display: flex;
  align-items: center;
}

/* Menu top */

.socials--menu-top .socials__item {
  &:hover .socials__icon {
    opacity: 0.6;
  }

  &:active .socials__icon {
    opacity: 0.3;
  }

  &:not(:last-child) {
    margin-right: 27px;

    @media (min-width: $tabled-width) {
      margin-right: 37px;
    }
  }

  &:nth-child(2) {
    margin-top: -1.5px;
  }
}

.socials--menu-top .socials__icon {
  &--facebook {
    @media (min-width: $tabled-width) {
      width: 13.52px;
      height: 27.75px;
    }
  }

  &--vk {
    @media (min-width: $tabled-width) {
      width: 30px;
      height: 15.82px;
    }
  }

  &--instagram {
    @media (min-width: $tabled-width) {
      width: 24px;
      height: 24px;
    }
  }
}

/* Footer */

.socials--footer .socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  background-color: $basic-yellow;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 62px;
    height: 62px;
  }

  &:hover {
    background-color: #ffbd30;
  }

  &:active .socials__svg {
    opacity: 0.3;
  }

  &--facebook {
    padding-top: 5px;

    @media (min-width: $tabled-width) {
      margin-left: -3px;
    }
  }

  &--vk {
    padding-top: 4px;

    @media (min-width: $tabled-width) {
      padding-top: 0;
      margin-top: -2px;
      margin-left: -3px;
    }
  }

  &--instagram {
    padding-top: 5px;

    @media (min-width: $tabled-width) {
      margin-top: -3px;
      padding-left: 3px;
    }
  }
}

.socials--footer .socials__svg {
  &--facebook {
    @media (min-width: $tabled-width) {
      width: 13.52px;
      height: 25.77px;
    }
  }

  &--vk {
    @media (min-width: $tabled-width) {
      width: 27.09px;
      height: 17.79px;
    }
  }

  &--instagram {
    @media (min-width: $tabled-width) {
      width: 20.24px;
      height: 20.24px;
    }
  }
}
