.steps__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.steps__list {
  @include clear-list();

  display: flex;
  flex-direction: column;

  @media (min-width: $tabled-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
  }
}

.steps__item {
  padding-top: 19px;
  padding-right: 60px;
  padding-bottom: 22px;
  padding-left: 24px;

  font-size: $font-size-text-items-steps-mobile;
  font-weight: 700;
  color: $basic-blue;

  border-radius: 15px;

  &:not(:first-child) {
    margin-top: -80px;

    @media (min-width: $tabled-width) {
      margin: 0;
    }

    @media (min-width: $desktop-width) {
      margin-left: -30px;
    }
  }

  &:last-child {
    margin-top: -60px;

    @media (min-width: $tabled-width) {
      margin: 0;
    }
  }

  &:nth-child(even) {
    @media (min-width: $tabled-width) {
      margin-left: -21px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      margin-left: -30px;
    }
  }

  @media (min-width: $tabled-width) {
    width: 50%;
    height: 140px;
    padding-top: 26px;
    padding-right: 82px;
    padding-bottom: 30px;
    padding-left: 33px;

    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    height: auto;
    padding-left: 30px;

    line-height: 1;
  }
}

.steps__item:nth-child(1) {
  height: 160px;

  background-color: $block-color-background-step-1;

  @media (min-width: $tabled-width) {
    width: 365px;
    height: 140px;

    border-bottom-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    width: 345px;
    height: 107px;
    padding-left: 35px;

    border-radius: 15px;
  }
}

.steps__item:nth-child(2) {
  height: 160px;

  background-color: $block-color-background-step-2;

  @media (min-width: $tabled-width) {
    width: 344px;
    height: 140px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
    height: 107px;

    border-radius: 15px;
  }
}

.steps__item:nth-child(3) {
  height: 140px;

  background-color: $block-color-background-step-3;

  @media (min-width: $tabled-width) {
    width: 365px;
    height: 140px;

    border-top-left-radius: 0;
  }

  @media (min-width: $desktop-width) {
    height: 107px;
    width: 375px;

    border-radius: 15px;
  }
}

.steps__item:nth-child(4) {
  height: 80px;

  background-color: $block-color-background-step-4;

  @media (min-width: $tabled-width) {
    width: 344px;
    height: 140px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  @media (min-width: $desktop-width) {
    height: 107px;
    width: 315px;

    border-radius: 15px;
  }
}
