.tariffs-list {
  @include clear-list();

  font-weight: 300;
}

.tariffs-list__item {
  padding-top: 15px;
  padding-bottom: 15px;

  border-top: 1px solid $border-line-tariffs;

  &--hidden-block {
    @media (min-width: $tabled-width) {
      font-size: $font-size-add-profile-list-hidden-block;
    }
  }

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: space-between;

    font-size: $font-size-add-profile-list;
  }
}

.tariffs-list__item:last-child {
  border-bottom: 1px solid $border-line-tariffs;
}
