.transport__list {
  @include clear-list();
  display: flex;
  justify-content: space-between;
  width: 100%;

  &--traveler-card {
    @media (min-width: $tabled-width) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @media (min-width: $desktop-width) {
      flex-direction: row;
    }
  }
}

.transport__item {
  position: relative;

  width: 20px;
  height: 20px;

  &:hover > .transport__hidden-info {
    display: flex;
  }

  &:not(:last-child) {
    margin-right: 13px;
  }
}

.transport__hidden-info {
  position: absolute;
  top: 30px;
  left: 50%;

  display: none;
  align-items: center;
  min-height: 56px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  font-size: 20px;
  color: $basic-white;

  background-color: #101d41;

  border-radius: 4px;

  transform: translateX(-50%);

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 50%;

    width: 16px;
    height: 10px;

    background-image: url("../../img/icons/icon-tooltip.svg");
    background-size: 16px 10px;

    transform: translateX(-50%);
  }
}

.transport__icon-use {
  fill: rgba(#1d2e5b, 0.15);
}

.transport__item--active .transport__icon-use {
  fill: rgba(#1d2e5b, 1);
}

/* Catalog.html */

.transport--catalog-form .transport__list {
  display: flex;
  justify-content: flex-start;
}

.transport--catalog-form .transport__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31.27px;
  height: 31.27px;
  margin: 0;

  background-color: $basic-white;

  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 2px;
  }

  @media (min-width: $tabled-width) {
    width: 43px;
    height: 43px;
  }

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(#161c35, 0.17));
  }

  &:hover .transport__icon-plane {
    opacity: 0.3;
  }

  &:active {
    background-color: #e2e5f1;

    filter: none;
  }
}

.transport--catalog-form .transport__icon-plane {
  width: 14.41px;
  height: 14.58px;

  @media (min-width: $tabled-width) {
    width: 19.82px;
    height: 20.05px;
  }
}

.transport--catalog-form .transport__icon-bus {
  width: 16.72px;
  height: 16px;

  @media (min-width: $tabled-width) {
    width: 22.99px;
    height: 22px;
  }
}

.transport--catalog-form .transport__icon-bicycle {
  width: 16.73px;
  height: 16px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}

.transport--catalog-form .transport__icon-run {
  width: 16.73px;
  height: 16px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}

/* Catalog.html profile */

.transport--profile .transport__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: #edeff6;

  border-radius: 50%;

  &:not(:last-child) {
    margin-right: 1.5px;
  }

  @media (min-width: $tabled-width) {
    background: none;
  }
}

.transport--profile .transport__icon-plane {
  width: 14px;
  height: 16px;

  @media (min-width: $tabled-width) {
    width: 19.69px;
    height: 20.04px;
  }
}

.transport--profile .transport__icon-bus {
  width: 12.99px;
  height: 16px;

  @media (min-width: $tabled-width) {
    width: 26px;
    height: 25px;
  }
}

.transport--profile .transport__icon-bicycle {
  width: 14.46px;
  height: 17px;

  @media (min-width: $tabled-width) {
    width: 26px;
    height: 25px;
  }
}

.transport--profile .transport__icon-run {
  width: 13.15px;
  height: 17px;

  @media (min-width: $tabled-width) {
    width: 22.69px;
    height: 24px;
  }
}


/* Form.html */

.transport--form .transport__list {
  justify-content: flex-start;
}

.transport--form .transport__item {
  width: 31.52px;
  height: 31.52px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $basic-white;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 43px;
    height: 43px;
  }

  &:not(:last-child) {
    margin-right: 0;
  }

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(#161c35, 0.17));
  }

  &:hover .transport__icon {
    opacity: 0.7;
  }

  &:active {
    background-color: #e2e5f2;
    filter: none;
  }

  &:active .transport__icon {
    opacity: 0.3;
  }
}

.transport--form .transport__icon-plane {
  width: 14.53px;
  height: 14.69px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}

.transport--form .transport__icon-bus {
  width: 16.85px;
  height: 16.12px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}

.transport--form .transport__icon-bicycle {
  width: 16.86px;
  height: 16.12px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}

.transport--form .transport__icon-run {
  width: 16.86px;
  height: 16.12px;

  @media (min-width: $tabled-width) {
    width: 23px;
    height: 22px;
  }
}
