.travelers {
  background-color: $background-section-dark;

  &--catalog {
    background-color: $background-section-travelers-catalog;
  }
}

.travelers__wrapper {
  padding-top: 80px;
  padding-bottom: 40px;
  color: $basic-white;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.travelers__header-section {
  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.travelers__travelers-list {
  margin-bottom: 20px;

  @media (min-width: $tabled-width) {
    display: flex;

    justify-content: space-between;
  }
}

.travelers-list__item {
  @media (min-width: $tabled-width) {
    width: 280px;
  }
}

.travelers__button {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    max-width: 280px;
  }
}

/* catalog.html */

.travelers--catalog .travelers__travelers-list {
  margin-bottom: 15px;

  @media (min-width: $tabled-width) {
    flex-direction: column;
  }
}

.travelers--catalog .travelers-list__item {
  @media (min-width: $tabled-width) {
    width: 100%;
  }
}

.travelers--catalog .travelers__wrapper {
  padding-top: 20px;

  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.travelers--catalog .travelers__header-section {
  margin-bottom: 50px;
}

.travelers--catalog .travelers__button {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  text-align: left;

  border-radius: 10px;

  &--pagination {
    text-align: center;
  }
}

.travelers--catalog .travelers__pagination {
  padding-top: 20px;
  padding-bottom: 20px;

  background-color: $basic-white;
  border-radius: 20px;

  @media (min-width: $tabled-width) {
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    justify-content: space-between;
  }
}

.travelers--catalog .travelers__pagination-wrapper {
  display: flex;
}

.travelers--catalog .travelers__button-pagination {
  width: 100%;
  margin-bottom: 15px;

  font-size: $font-size-catalog-pagination;
  font-weight: 700;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.travelers--catalog .travelers__pagination-arrow {
  width: 50%;

  color: $basic-blue;
  text-align: center;
}

.travelers--catalog .travelers__pagination-list {
  @include clear-list();

  display: none;

  @media (min-width: $tabled-width) {
    display: flex;
  }
}

.travelers--catalog .travelers__number-pagination {
  @media (min-width: $tabled-width) {
    color: $basic-blue-light;

    font-size: 20px;
    font-weight: 700;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
