.travelers {
  position: relative;

  background: url("../../img/smolov-back.png") no-repeat 151px 60px,
    url("../../img/travelers-back-background.png") no-repeat 0 60px,
    $background-section-dark url("../../img/rogovaya-back.png") no-repeat 0 332px;


  border-bottom-right-radius: $border-radius-section-mobile;
  border-bottom-left-radius: $border-radius-section-mobile;

  z-index: 98;

  @media (min-width: $tabled-width) {
    background: url("../../img/smolov-back-desktop.png") no-repeat 40px 475px,
      url("../../img/back-travelers-desktop.png") no-repeat 30px 121px,
      $background-section-dark url("../../img/rogovaya-back-desktop.png") no-repeat 408px 130px;


    border-bottom-right-radius: $border-radius-section-tabled;
    border-bottom-left-radius: $border-radius-section-tabled;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/smolov-back-desktop.png") no-repeat 548px 173px,
      url("../../img/back-travelers-desktop.png") no-repeat 59px 109px,
      $background-section-dark url("../../img/rogovaya-back-desktop.png") no-repeat 191px 425px;

    border-bottom-right-radius: $border-radius-section-desktop;
    border-bottom-left-radius: $border-radius-section-desktop;
  }

  &--catalog {
    background: none;
    background-color: $background-section-light;
  }
}

.travelers__wrapper {
  padding-top: 89px;
  padding-bottom: 31px;
  color: $basic-white;

  @media (min-width: $tabled-width) {
    padding-top: 185px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 807px;
    padding-top: 177px;
    padding-bottom: 67px;
    padding-left: 70px;
  }
}

.travelers__header-section {
  margin-bottom: 55px;

  @media (min-width: $tabled-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    order: 1;

    margin-bottom: 89px;
  }
}

.travelers__travelers-list {
  margin-bottom: 20px;

  @media (min-width: $tabled-width) {
    display: flex;
    margin-bottom: 42px;
    padding-left: 34px;

    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    order: 3;

    padding-top: 12px;
    padding-left: 195px;
  }
}

.travelers-list__item {
  &:not(:last-child) {
    @media (min-width: $tabled-width) {
      margin-right: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 60px;
    }
  }

  @media (min-width: $tabled-width) {
    width: 285px;
  }
}

.travelers__button-wrapper {
  display: flex;
  justify-content: center;

  @media (min-width: $desktop-width) {
    order: 2;

    justify-content: flex-start;
    padding-left: 4px;
  }
}

.travelers__button {
  width: 100%;
  padding-left: 23px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  text-align: left;

  border-radius: 10px;

  @media (min-width: $tabled-width) {
    max-width: 616px;
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 30px;

    font-size: 24px;

    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 280px;
  }

  &::before {
    content: "";

    position: absolute;
    top: 53%;
    right: 19px;

    width: 14px;
    height: 14px;

    background: url("../../img/icon-arrow-button.svg") no-repeat;

    transform: translateY(-50%);

    @media (min-width: $tabled-width) {
      right: 33px;
    }

    @media (min-width: $desktop-width) {
      right: 35px;
    }
  }
}

.travelers__br {
  @media (min-width: $tabled-width) {
    display: none;
  }

  &--tabled {
    @media (min-width: $tabled-width) {
      display: block;
    }
  }
}

/* catalog.html */

.travelers--catalog .travelers__wrapper {
  padding-top: 28px;

  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: column;
    padding-top: 43px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-flow: nowrap;
    flex-direction: column;
    max-height: none;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 21px;
  }
}

.travelers--catalog .travelers__travelers-list {
  margin-bottom: 23px;

  @media (min-width: $tabled-width) {
    flex-direction: column;
    margin-bottom: 46px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    order: 1;

    margin-bottom: 24px;

    padding-top: 0;
  }
}

.travelers--catalog .travelers-list__item {
  @media (min-width: $tabled-width) {
    width: 100%;
  }
}

.travelers--catalog .travelers__header-section {
  margin-bottom: 50px;
}

.travelers--catalog .travelers__button {
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-size: 18px;
  font-weight: 700;
  text-align: left;

  border-radius: 10px;

  &--pagination {
    text-align: center;
  }
}

/* Pagination catalog.html */

.travelers--catalog .travelers__pagination {
  margin-bottom: 88px;

  background-color: $basic-white;
  border-radius: 20px;

  @media (min-width: $tabled-width) {
    height: 100px;
    padding-left: 28px;
    padding-right: 30px;

    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    order: 3;

    margin-bottom: 66px;
    padding-right: 38px;
  }
}

.travelers--catalog .travelers__pag-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  @media (min-width: $tabled-width) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    order: 2;

    justify-content: flex-start;
    margin-bottom: 33px;
    padding-left: 346px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.travelers--catalog .travelers__pag-icon {
  margin-right: 10px;

  @media (min-width: $tabled-width) {
    width: 26px;
    height: 26px;
    margin-right: 18px;
  }
}

.travelers--catalog .travelers__button-pagination {
  font-size: $font-size-catalog-pagination;
  font-weight: 700;
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.travelers--catalog .travelers__pagination-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 51px;

  @media (min-width: $tabled-width) {
    height: auto;
  }
}

.travelers--catalog .travelers__pagination-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

  color: $basic-blue;
  text-align: center;

  @media (min-width: $tabled-width) {
    width: auto;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--left {
    @media (min-width: $tabled-width) {
      margin-right: 23px;
    }
  }
}

.travelers--catalog .travelers__pagination-list {
  @include clear-list();

  display: none;

  @media (min-width: $tabled-width) {
    display: flex;
    align-items: center;
  }
}

.travelers--catalog .travelers__number-pagination {
  cursor: pointer;

  @media (min-width: $tabled-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    color: $basic-blue-light;

    font-size: 20px;
    font-weight: 700;

    border-radius: 50%;
  }

  &:hover {
    color: rgba(#1d2e5b, 0.6);
  }

  &:active {
    background-color: $basic-yellow;

    color: rgba(#1d2e5b, 1);
  }

  &--active {
    background-color: $basic-yellow;
  }
}
