.traveler-info {
  background-color: $background-section-traveler-info-form;
}

.traveler-info__wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
}

.traveler-info__profile-wrapper {
  @media (min-width: $desktop-width) {
    margin-top: -200px;
  }
}
