.traveler__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  color: $basic-blue-light;

  background-color: $basic-white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.traveler__name {
  margin: 0;

  font-size: $font-size-traveler-name-mobile;
  font-weight: 700;
}

.traveler__tags {
  text-align: center;
}

/* catalog.html */

.traveler--catalog {
  padding: 20px;

  color: $special-grey;

  background-color: $basic-white;

  border-radius: 20px;
}

.traveler--catalog .traveler__name-inner {
  display: flex;
}

.traveler__name-wrapper {
  display: flex;
  flex-direction: column;
}

.traveler--catalog .traveler__tags {
  text-align: left;
}

.traveler__header {
  font-size: $font-size-country-list-catalog;
  color: $special-grey;
  text-transform: uppercase;
}

.traveler__level-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
