.traveler__img-wrapper {
  line-height: 0;

  @media (min-width: $desktop-width) {
    border-radius: 30px;
  }
}

.traveler__img {
  @media (min-width: $tabled-width) {
    width: 100%;
    height: 100%;
  }
}

.traveler__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-right: 24px;
  padding-bottom: 23px;
  padding-left: 25px;

  color: $basic-blue-light;

  background-color: $basic-white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (min-width: $tabled-width) {
    padding-top: 25px;
    padding-bottom: 35px;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
    padding-bottom: 31px;
  }
}

.traveler__name {
  margin: 0;
  margin-bottom: 14px;

  font-size: $font-size-traveler-name-mobile;
  font-weight: 700;

  @media (min-width: $tabled-width) {
    margin-bottom: 23px;

    font-size: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.traveler__tags {
  margin: 0;
  margin-bottom: 17px;

  text-align: center;

  @media (min-width: $tabled-width) {
    margin-bottom: 23px;

    font-size: 20px;
  }
}

/* catalog.html */

.traveler--catalog {
  position: relative;

  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: auto auto auto auto;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 23px;
  padding-left: 17px;

  color: $special-grey;

  background-color: $basic-white;

  border-radius: 20px;

  @media (min-width: $tabled-width) {
    grid-template-columns: 190px 1fr 60px;
    grid-template-rows: auto auto 1fr 1fr;
    height: 332px;
    padding-top: 33px;
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 285px 1fr 287px;
    grid-template-rows: auto 1fr 120px;
    height: 285px;
    padding: 0;
  }
}

.traveler--catalog .traveler__img-wrapper {
  grid-column: 1 / 2;
  margin-bottom: 12px;
  padding-top: 2px;

  @media (min-width: $tabled-width) {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    height: 285px;
    margin-bottom: 0;
    padding-top: 0;
  }
}

.traveler--catalog .traveler__img {
  @media (min-width: $tabled-width) {
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
  }
}

.traveler--catalog .traveler__name-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 17px;

  @media (min-width: $tabled-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-left: 33px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.traveler--catalog .traveler__name-inner {
  display: flex;
}

.traveler--catalog .traveler__name {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 20px;
  color: $basic-blue-light;

  @media (min-width: $tabled-width) {
    margin-bottom: 24px;
    padding-top: 3px;

    font-size: 30px;
    font-weight: 700;
  }

  @media (min-width: $desktop-width) {
    margin-top: 46px;
    margin-bottom: 27px;
    margin-left: 30px;
  }
}

.traveler--catalog .traveler__name-br {
  @media (min-width: $tabled-width) {
    display: none;
  }
}

.traveler--catalog .traveler__distance {
  position: absolute;
  top: 55px;
  left: 68px;

  display: flex;
  align-items: center;

  font-size: 14px;
  font-weight: 700;
  color: $basic-blue;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    top: 174px;
    left: 406px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 188px;
    left: 489px;
  }
}

.traveler--catalog .traveler__distance-circle {
  width: 30.64px;
  height: 30.71px;
  margin-right: 5px;

  background: #e2e5f2 url("../../img/icon-heart.svg") no-repeat 9.4px 10px;
  background-size: 12.26px 10.53px;

  border-radius: 50%;

  @media (min-width: $tabled-width) {
    width: 50px;
    height: 50px;

    background-size: 20.03px 17.14px;
    background-position: center;
  }

  &--active {
    width: 30.64px;
    height: 30.71px;
    margin-right: 5px;

    background: #f9eaea url("../../img/icon-heart-active.svg") no-repeat 9.4px 10px;
    background-size: 12.26px 10.53px;

    border-radius: 50%;

    @media (min-width: $tabled-width) {
      width: 50px;
      height: 50px;

      background-position: center center;
      background-size: 20.03px 17.14px;
    }
  }
}

.traveler--catalog .traveler__tags {
  grid-column: 1 / 3;
  padding-left: 8px;
  margin-bottom: 13px;

  font-size: 15px;
  line-height: 18px;
  text-align: left;

  @media (min-width: $tabled-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 48px;
    padding-left: 35px;

    max-width: 300px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding-left: 61px;
    margin-bottom: 35px;
  }
}

.traveler--catalog .traveler__country-wrapper {
  position: relative;

  grid-column: 1 / 3;

  &::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #edeff6;

    z-index: 5;

    @media (min-width: $tabled-width) {
      top: 13px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tabled-width) {
    grid-column: 1 / -1;
    grid-row: 4 / -1;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    padding-top: 52px;
    padding-left: 9px;
  }
}

.traveler--catalog .traveler__country-list {
  padding-left: 9px;
  margin-bottom: 10px;

  @media (min-width: $tabled-width) {
    padding-left: 3px;
    margin-bottom: 0;
  }
}

.traveler--catalog .traveler__level-wrapper {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 3;
  margin-bottom: 14px;
  padding-left: 3px;

  @media (min-width: $tabled-width) {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    flex-direction: column;
    align-items: center;
    padding-right: 13px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    padding-right: 40px;
  }
}

.traveler--catalog .traveler__transport-list {
  @media (min-width: $tabled-width) {
    padding-top: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
    padding-left: 3px;
  }
}

.traveler--catalog .traveler__level {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;

  font-size: 24px;
  font-weight: 700;
  color: $basic-blue-light;

  @media (min-width: $tabled-width) {
    display: flex;
    flex-direction: column;
    width: 65px;
    height: 65px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-start;
    margin-left: -1px;
    padding-top: 15px;
  }

  &--99 {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 45px;
      height: 45px;

      background: url("../../img/icon-level-99.svg") no-repeat;

      @media (min-width: $tabled-width) {
        width: 70px;
        height: 70px;
        background-size: 65px 65px;
      }

      @media (min-width: $desktop-width) {
        width: 70px;
        height: 70px;
        background-position: 1px 6px;
        background-size: 62px 62px;
      }
    }
  }

  &--80 {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 45px;
      height: 45px;

      background: url("../../img/icon-level-80.svg") no-repeat;

      @media (min-width: $tabled-width) {
        width: 70px;
        height: 70px;
        background-size: 65px 65px;
      }
    }
  }

  &--50 {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 25px;
      height: 46px;

      background: url("../../img/icon-level-50.svg") no-repeat;

      @media (min-width: $tabled-width) {
        width: 80px;
        height: 60px;
        background-size: 125px 60px;
      }

      @media (min-width: $desktop-width) {
        width: 80px;
        height: 71px;
        background-size: 125px 64px;
        background-position: 0 6px;
      }
    }
  }

  &--25 {
    &::before {
      content: "";

      position: absolute;
      top: 0;
      right: 0;

      width: 25px;
      height: 46px;

      background: url("../../img/icon-level-25.svg") no-repeat;

      @media (min-width: $tabled-width) {
        width: 60px;
        height: 60px;
        background-size: 35px 60px;
        background-position: 24px -9px;
      }
    }
  }
}

.traveler--catalog .traveler__level-text {
  display: none;

  @media (min-width: $tabled-width) {
    display: block;

    font-size: 14px;
    font-weight: 400;
    color: fade-out($basic-black, 0.6);
  }
}

.traveler--catalog .traveler__number-wrapper {
  @media (min-width: $desktop-width) {
    margin-left: 43px;
  }
}

.traveler--catalog .traveler__button-wrapper {
  grid-column: 1 / 3;
  padding-left: 1px;

  @media (min-width: $tabled-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 29px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding-left: 54px;
    margin-top: 12px;
  }
}

.traveler--catalog .traveler__button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: $font-size-button-traveler-catalog;
  font-weight: 700;
  color: $basic-blue;
  text-transform: uppercase;

  border-radius: 20px;

  @media (min-width: $tabled-width) {
    width: 150px;
    min-height: 50px;

    font-size: 20px;

    border-radius: 25px;
  }
}

.traveler--catalog .traveler__header {
  position: relative;

  width: 108px;
  margin-top: 0;
  margin-bottom: 21px;
  padding-left: 9px;


  font-size: 15px;
  font-weight: 400;
  color: $special-grey;
  text-transform: lowercase;

  background-color: $basic-white;

  z-index: 10;

  &--transport {
    margin-bottom: 17px;
    padding-left: 8px;

    @media (min-width: $tabled-width) {
      display: none;
    }
  }

  &--level {
    width: 47px;
    margin-bottom: 11px;
    padding-left: 4px;

    @media (min-width: $tabled-width) {
      display: none;
    }
  }

  &--country {
    @media (min-width: $tabled-width) {
      width: 150px;
      margin-bottom: 21px;
      padding-left: 49px;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

/* Pixel perfect for catalog.html */

.traveler--catalog:nth-child(2) .traveler__img-wrapper {
  margin-bottom: 14px;
}

.traveler--catalog:nth-child(2) .traveler__header {
  &--country {
    margin-bottom: 19px;

    @media (min-width: $tabled-width) {
      margin-top: 17px;
      margin-bottom: 21px;
    }
  }
}

.traveler--catalog:nth-child(2) .traveler__country-list {
  margin-bottom: 17px;
}

.traveler--catalog:nth-child(2) .traveler__level-number {
  @media (min-width: $tabled-width) {
    margin-top: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.traveler--catalog:nth-child(3) {
  padding-top: 11px;

  @media (min-width: $tabled-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.traveler--catalog:nth-child(3) .traveler__img-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.traveler--catalog:nth-child(3) .traveler__country-list {
  margin-bottom: 14px;
}

.traveler--catalog:nth-child(3) .traveler__header {
  &--country {
    @media (min-width: $tabled-width) {
      margin-top: 17px;
    }
  }

  &--transport {
    margin-bottom: 14px;
  }

  &--level {
    margin-bottom: 9px;
  }
}

.traveler--catalog:nth-child(3) .traveler__level-wrapper {
  margin-bottom: 13px;
}

.traveler--catalog:nth-child(3) .traveler__level-number {
  @media (min-width: $tabled-width) {
    padding-top: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

.traveler--catalog:nth-child(4) {
  padding-top: 11px;

  @media (min-width: $tabled-width) {
    padding-top: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.traveler--catalog:nth-child(4) .traveler__img-wrapper {
  padding-top: 3px;

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.traveler--catalog:nth-child(4) .traveler__header {
  &--country {
    margin-bottom: 20px;

    @media (min-width: $tabled-width) {
      margin-top: 18px;
    }
  }

  &--transport {
    padding-left: 6px;
  }

  &--level {
    margin-bottom: 9px;
  }
}

.traveler--catalog:nth-child(4) .traveler__country-list {
  margin-bottom: 18px;
}

.traveler--catalog:nth-child(4) .traveler__level-wrapper {
  margin-bottom: 14px;
}

.traveler--catalog:nth-child(4) .traveler__number-wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 2px;
  }
}

/* form.html */

.traveler--form {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}

.traveler--form .traveler__level {
  order: 1;

  width: 50%;

  @media (min-width: $tabled-width) {
    width: 100px;
    height: 100px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.traveler--form .traveler__img-wrapper {
  order: 2;

  width: 50%;

  @media (min-width: $tabled-width) {
    order: 3;

    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    order: 2;

    width: 190px;
    height: 190px;
  }
}

.traveler--form .traveler__button-wrapper {
  order: 3;

  width: 100%;

  @media (min-width: $tabled-width) {
    order: 4;

    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    order: 3;

    display: flex;
  }
}

.traveler--form .traveler__button {
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: $font-size-button-traveler-form;
  font-weight: 500;
  color: $basic-blue;
  text-transform: uppercase;

  background-color: $special-blue-light;
  border-radius: 20px;

  @media (min-width: $tabled-width) {
    padding-top: 20px;
    padding-bottom: 20px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 190px;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.traveler--form .traveler__button-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.traveler--form .traveler__header {
  color: $basic-blue-light;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tabled-width) {
    font-size: 20px;
  }
}

.traveler--form .traveler__tags-wrapper {
  order: 4;

  padding: 10px;
  margin-bottom: 20px;

  text-align: left;

  border: 1px solid #cbced9;
  border-radius: 10px;

  @media (min-width: $tabled-width) {
    order: 5;

    width: 100%;
  }

  @media (min-width: $desktop-width) {
    order: 4;

    width: 732px;
    margin-right: auto;
  }
}

.traveler--form .traveler__tags {
  width: 100%;
  margin: 0;

  color: $special-grey;

  opacity: 0.6;
}

.traveler--form .traveler__transport-wrapper {
  order: 5;

  width: 100%;

  @media (min-width: $tabled-width) {
    order: 2;

    width: 308px;
    height: 95px;

    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    order: 5;

    width: 384px;
  }
}
