.traveler-info {
  background-color: $background-section-traveler-info-form;
}

.traveler-info__wrapper {
  padding-top: 51px;
  padding-bottom: 59px;

  @media (min-width: $tabled-width) {
    padding-top: 115px;
    padding-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.traveler-info__profile-wrapper {
  @media (min-width: $tabled-width) {
    justify-content: flex-start;
    padding-left: 35px;
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
    margin-top: -252px;
    padding-left: 62px;
    padding-right: 0;
  }
}
